
/Endava/.vs
/Endava/obj
/Endava/bin/Debug
/ServiceLayer/obj
/DAL/obj
/DAL/bin
/Common/obj
/Common/bin
/ServiceLayer/bin
/ServiceLayer/bin
/ServiceLayer/bin/Debug
/ServiceLayer/bin
/ServiceLayerTest/obj
/ServiceLayerTest/bin/Debug
/ServiceLayer/bin/Debug
